@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
    margin:0;
    padding: 0;
     height: 100vh;
display: flex;
justify-content:center;
      align-items:center;
 position: relative;
}

body::before{
    content: '';
       position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
background-image: url(../images/BACK.jpg);
    background-size: cover;
    background-position: center;
     opacity: 0.7; 
    z-index: -1; 
}

.hyrja_welcome{
    color:#592403;
    font-size: 55px;
     font-family: 'Megrim', cursive;
    position:absolute;
    top:20px;
    left:50%;                     
    transform:translateX(-50%);                       
}

.content{
    display:flex;
    flex-direction:column;      
    align-items:center;         
    justify-content:center;             
}

.mbeshtjelles{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vh;      
    background-color: white;
    opacity: 0.6;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 2;
}

.hyrja_coffee{
    color:#592403;
     font-family: 'Megrim', cursive;
     font-weight: bold;
       font-size:50px;  
    margin: top 20px;
    text-align: center;
   
}

.hyrja_p{
    color:#592403;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
     font: size 25px;
    margin-top:10px;
    text-align: center;
 
}

.titull{
 color:#592403;
    font-family: 'Megrim',sans-serif;
    text-align: center;
 margin-top: 20px;
 font-size: 50px;
}


img{
width:auto;
    height: auto;
    margin-bottom: 70px;
}

.klient,.punonjes, .newAccount, .login{
    padding:20px 50px;
    font-size:20px;
    background-color:white;
    border-radius:50px;
    cursor:pointer;
    transition:0.3s;
    margin-bottom: 20px;
    margin-left: 30px;
    font-family: 'Mergrim',cursive;
    border: none;
}

.klient:hover, .punonjes:hover, .newAccount:hover, .login:hover{
    background-color: rgb(197, 241, 130);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.fq_klient{
    color:#592403;
    font-family: 'Megrim',sans-serif;
    padding-left: 30px;
    font-weight: bold;
    font-size: 50px;
   
}

.titull_fqKlientit{
    color:#592403;
    font-family: 'Megrim',sans-serif;
    text-align: center;
 margin-top: 20px;
 font-size: 50px;
  position:absolute;
    top:20px;
    left:50%;                     
    transform:translateX(-50%);
    opacity: 100%;  
}

.newAccount_titull{
   color:#592403;
    font-family: 'Megrim',sans-serif;
    padding-left: 30px;
    font-weight: bold;
    font-size: 50px;
     
}

form{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:400px;      
}

form label{
    font-family: 'Mergrim',cursive;
    color: #592403;
    font-size: 18px;
    font-weight: bold;
}
form input:focus{
    border-color:#592403;
    box-shadow:0 0 5px rgba(89,36,3,0.5);
      border-radius: 50px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.3);
      border: none;
}
form button{
        padding:10px 20px;
  color: #592403;
    font-size:18px;
    font-weight:bold;
    border:none;
    border-radius:50px;
    cursor:pointer;
     font-family: 'Mergrim',cursive;
border: none;
margin-top: 10px ;
}

form button:hover{
    background-color:rgb(141, 221, 141);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.forgotPassword{
    color: #592403;
    font-family: 'Mergrim',cursive;
    padding: 5px 10px;
    text-align: right;
}

.menu_img{
  position: absolute;
    top: 20px;        
    right: 30px;         
    width: 50px;      
    height: auto;
    border-radius: 50px;
}

.menu, .profil,.rezervim,.pagesa,.porosia,.ruaj,.vazhdo{
      padding:10px 20px;
   color:#592403;
    font-size:25px;
    font-weight:bold;
    border-radius:50px;
    cursor:pointer;
    border:none;
     font-family: 'Mergrim',cursive;
  margin-top:20px ;
}

.menu:hover, .profil:hover,.rezervim:hover,.pagesa:hover,.porosia:hover,.ruaj:hover,.vazhdo:hover{
    background-color: rgb(129, 230, 129);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
}
 

.shuma{
    font-size:15px;
    font-weight:bold;
    color:#592403;
}

p{
      text-align:center;
    color:#592403;
    margin-bottom:15px;
    font-weight: bold;
}

.orderItem button {
    background-color: #e2711d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

