@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
    margin:0;
    padding: 0;
     height: 100vh;
display: flex;
  font-family: 'Megrim', cursive;
justify-content:center;
align-items: center;
 position: relative;
}

body::before{
    content: '';
       position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
background-image: url(../images/BACK.jpg);
    background-size: cover;
    background-position: center;
     opacity: 0.7; 
    z-index: -1; 
}

.logoja{
    width: 150px;
height: auto;
margin-bottom: 20px;
opacity: 100%;
}

.coffee{
    color:#592403;
    font-size: 50px;
    margin:0;
    text-align: center;
}