@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Mergrim', cursive;
    color: #592403;
    background-color: #f9f9f9;
    position: relative;
}


body::before {
    content: '';
    position: fixed; /* fiksohet poshtë të gjitha elementeve */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/BACK.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1; /* siguron që menuja të jetë mbi */
}


.titull_fqKlientit{
    color:#592403;
    font-family: 'Megrim',sans-serif;
    text-align: center;
 margin-top: 20px;
 font-size: 50px;
  position:absolute;
    top:20px;
    left:50%;                     
    transform:translateX(-50%);
    opacity: 100%;  
}

.coffee, .tea, .milkshake, .drinks, .breakfast, .dessert {
    flex: 0 0 48%;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}


.coffee h3, .tea h3, .milkshake h3, .drinks h3, .breakfast h3, .dessert h3 {
    background-color: #592403;
    color: #fff;
    padding: 10px 15px;
    font-size: 22px;
}

/* Listat */
.coffee ul, .tea ul, .milkshake ul, .drinks ul, .breakfast ul, .dessert ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coffee li, .tea li, .milkshake li, .drinks li, .breakfast li, .dessert li {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    transition: 0.3s;
}

/* Hover efekt */
.coffee li:hover, .tea li:hover, .milkshake li:hover, .drinks li:hover, .breakfast li:hover, .dessert li:hover {
    background-color: #f0e5da;
    cursor: pointer;
    transform: translateX(5px);
}


.porosi {
    padding: 10px 20px;
    color: #592403;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-family: 'Mergrim', cursive;
    margin: 20px auto;
    display: block;
}

.porosi:hover{
     background-color: rgb(129, 230, 129);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3); 
}

.plus {
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #592403;
    color: white;
}

